{% extends "base_auth.html" %}
{% load static %}


{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title">
                <h4>Register for a free account</h4>
                </div> 
                <form action="" method="post">
                    <div class="form-group py-3 ">
                        <input type="text" name="username" id="usernamefield" placeholder="Username" class="form-control form-control-sm">
                    </div>
                    <div class="invalid-feedback" style="display: none">
                        
                    </div>
                    <div class="form-group py-3">
                        <input type="email" name="email" id="emailfield" placeholder="Email" class="form-control form-control-sm">
                    </div>
                    <div class="form-group py-3">
                        <input type="password" name="password" id="passwordfield" placeholder="Password"  class="form-control form-control-sm">
                        <p><small class="float-end py-3">show</small></p>
                    </div>
                    <input type="submit" value="Register" class="btn btn-block btn-primary col-md-12">
                </form>
            </div>
            </div>
        </div>
    </div>

    <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}